h1{
text-align: center;
text-shadow: 2px 6px black;
color: white;
}
html, body {
 height: 100%;
  margin: 0;
}
body{
    background-image: linear-gradient(to left, rgb(183, 88, 156),rgb(90, 139, 170));
}
main{
    text-align: center;
    margin: 25px;
    padding: 8px;
}
#one{
    background-color: rgba(0, 0, 0, 0.328);
    border-color:aliceblue;
    font-size: 35px;
    width: 35px;
    height: 35px;
    text-align: center;
    color:crimson;
    margin: 3px;
    break-after: column;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#one:hover{
    background-color: rgba(16, 15, 15, 0.026);
    border-color: rgba(27, 1, 1, 0.909);
}
footer{
    text-align: center;
    margin-bottom: 60px;
}
button:hover{
    background-image: linear-gradient(to right, rgb(67, 127, 177), rgb(180, 76, 152));
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
     border-radius: 10px 10px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     transition-timing-function: calc(0.2s);
     padding: 8px;
     width: 70px;
     background-color: black;
     color: white;
     margin-bottom: 12px;
     border: 6px white;
}
#score{
    background-color:black ;
    color:black;
    margin: 10px;
    text-align: center;
    border-radius: 2px solid rgba(31, 3, 3, 0.649);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:x-large;
    color: aliceblue;
}
div,#score{
    margin-left: 262px;
    margin-right: 262px;
    border-radius: 10px 10px;
}
#resetScore{
        background-color: black;
        color: white;
        width: 110px;
        white-space: nowrap;
}
#resetScore:hover{
    background-image: linear-gradient(to left, rgb(67, 127, 177), rgb(180, 76, 152));
    color: rgba(21, 1, 1, 0.938);
    font-size: 14px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#highscore{
    color: white;
    text-align:left;
    font-size: large;
    margin-left: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    padding-right: 10px;
    white-space: nowrap;
    padding: 5px;
    background-size: cover;
    width: 98.64%;
}
#modeBtn{
    white-space: nowrap;
    width: 94px;
    font-size: 13px;
}
.win {
  animation: winGlow 0.7s infinite alternate;
}
@keyframes winGlow {
  from {
    box-shadow: 0 0 5px rgba(118, 186, 118, 0.007);
    transform: scale(1);
  }
  to {
    box-shadow: 0 0 20px rgb(99, 199, 99);
    transform: scale(1.1);
  }
}
#impossibleBtn{
    width: 95px;
}
#aiThinking {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  color: black;
  animation: blink 1s infinite;
}
@keyframes blink {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}
#onlineBtn{
    width: 170px;
    white-space: nowrap;
}
#modeBtn{
    width: 95px;
}