body {
  text-align: center;
  font-family: Arial;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
  margin-top: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}